*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.block{
    display: grid;
    position: relative;
    width: 800px;
    height: 600px;
    background-color:grey;
    grid-template-columns: 100px 500px 50px;
    grid-template-rows: 100px 200px 300px;
    grid-template-areas: 'qwe qwe'
    'asd zxc';
    justify-items: stretch;
    align-items: center;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}
.qwe{
    display: block;
    position: relative;
    background: green;
    align-self: start;
    height: 100%;
    grid-area: qwe;
}
.asd{
    display: block;
    position: relative;
    background: red;
    height: 100%;
    grid-area: asd;
}
.zxc{
    display: block;
    position: relative;
    align-self: end;
    height: 100%;
    background: blueviolet;
    grid-area: zxc;
}